[submodule "thundershare"]
	path = thundershare
	url = git@github.com:loic-lescoat/thundershare.git
  branch = master
[submodule "linedance-tracker"]
	path = linedance-tracker
	url = git@github.com:loic-lescoat/linedance-tracker.git
  branch = master
[submodule "blog/hugo/themes/papermod"]
	path = blog/hugo/themes/papermod
	url = git@github.com:adityatelange/hugo-PaperMod.git
